<h1>Coding Events</h1>

@if (ViewBag.events.Count == 0)
            {
                <p1>No events yet!</p1>
            }
else
            {
                <ul>
                    @foreach (string meeting in ViewBag.events)
                {
                    <li>@meeting</li>
                }
                </ul>
            }
